body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    top: 0;
    position: absolute; 
}
.vsc-initialized{
    background: #f8e187
}

.fix{
    background: red; 
}
.app-page{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #f8e187
}

#root {
    width: 100%;
    height: 100%;
}

.navbar-container{
position: fixed;
    background-color: black; 
    height: 80px;
    width: 100%; 
    box-sizing: border-box;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
    align-items: center; 
    z-index: 30;
}
.navbar-container-2{
    margin: 0 auto; 
    height:100%; 
    width: 80%;
    z-index: 30;
    display: flex;
    justify-content: space-between; 
    /* vertical-align: middle;  */
}

.navbar-left{
    flex: 1; 
}

.app-name{
    /* flex: 1;  */
    align-self: center; 
    color: white; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.left-navbar{
    flex: 1;
}

.link-buttons{
    display: flex; 
   align-items: center; 
   flex: 1;
   justify-content: flex-end; 
    
}

.link-buttons-logged-in{
    display: flex; 
   align-items: center; 
   flex: 1;
   justify-content: flex-end; 
}

.sign-up{
    text-decoration: none; 
    line-height: 30px;
    text-align: left;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;; 
    font-weight: bold; 
    background-color: white; 
    border-radius: 5px;
    color: black;
    padding: 10px 18px;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    flex-shrink: 1; 
    /* vertical-align: center; 
    top: 50%;
    transform: translateY(-50%); */
}

.sign-up:hover {
    background-color: 	#f2c40f;
    
}

.log-in{
    text-decoration: none; 
    line-height: 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; 
    align-self: left; 
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    padding: 10px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.log-in:hover {
    background-color: 	#f2c40f;
}


.log-out{
     text-decoration: none; 
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; 
    align-self: left;  
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
     flex-shrink: 1; 
}

.log-out:hover {
     background-color: #f2c40f;
}
.question-button-background{
    width: 80%;  
    max-width: 1280px;
    margin: 0 auto;
    background: #f8e187;
    padding-bottom: 40px; 
}

.question-button-container{
    margin-top: 69px;
    height: 120px;
    background: #f8e187;
    /* position: relative; 
    border-top: none;  */
}

.question-button-container-two{
    margin-top: 69px;
    height: 600px;
    background: #f8e187;
    width: 100%
    /* position: relative; 
    border-top: none;  */
}

.button-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0 auto;
    align-items: center; 
    padding: 15px
}

.button-container-two{
    height: 100%;
    width: 80%;
    /* min-width: 80%;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 0 auto;
    align-items: center; 
    flex-wrap: wrap; 
}

.left-button{
    margin-top: 60px; 
    display: flex;
    width: 50%; 
    justify-content: center; 
}

.left-button-two{
    height: 50%;
    display: flex;
    max-width: 50%; 
    justify-content: center; 
    flex-shrink: 1; 
}

.right-button{
    display: flex;
    width: 50%;
    justify-content: center; 
    margin-top: 60px; 
}

.right-button-two{
    height: 50%;
    display: flex;
    max-width: 50%;
    justify-content: center; 
    flex-shrink: 1; 
}

.wyr-button{
    width: max-content;
    height: 50%; 
    padding: 1.5vw;
    margin: 10px;
    background: #80d4f5;
    border-radius: 5px;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5vw; 
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.wyr-button-two{
    height: 50%;
    padding: 9vh 4vw;
    background: #80d4f5;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    /* font-family: times;  */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.0vw; 
    /* "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; */
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-shrink: 1; 
    
    
}

.wyr-button:hover{
    background: black;
    color: white;
}

.wyr-button-two:hover{
    background: black;
    color: white;
}

.rfdb-button{
    width: max-content;
    height: 50%; 
    padding: 1.5vw;
    margin: 10px;
    background: #80d4f5; 
    border-radius: 5px;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rfdb-button-two{
    width: max-content;
    height: 50%;
    padding: 9vh 4vw;
    background: #80d4f5;
    border-radius: 5px;
    color: black;
    font-size: 3.0vw; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-shrink: 1; 
}

.rfdb-button:hover{
    background: black;
    color: white;
}

.rfdb-button-two:hover{
    background: black;
    color: white;
}

.greeting-logged-in{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    align-self: center;
}