body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    top: 0;
    position: absolute; 
}

.app-page{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #abdff1
}
#root {
    width: 100%;
}
.navbar-container{
    position: fixed;
    background-color: white; 
    height: 80px;
    width: 100%;
    z-index: 30;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
    justify-content: space-between; 
}

.navbar-header{
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative; 
    text-align: center; 
    /* text-align: center;  */
    /* flex-wrap: wrap;  */
}

.app-link{
    text-decoration: none;
}

.app-logo{
    height: 68px;
    background: white; 
    border-bottom: 1px solid black;
}

.app-name{
    color: black; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto; 
}

.left-navbar{
    flex: 1;
}

.link-buttons{
    position: absolute; 
    right: 100px;
    top: 30px; 
}

.link-buttons-logged-in{
    position: absolute; 
    right: 100px;
    bottom: 20px; 
}

.sign-up{
    text-decoration: none; 
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; 
    background-color: #EF6C33; 
    border-radius: 5px;
    color: white;
    padding: 10px 18px;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.sign-up:hover {
    background-color: #ff8533;
}

.log-in{
    text-decoration: none; 
    width: 140px;
    height: 30px;
    line-height: 30px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    align-self: left; 
    background-color: #EF6C33;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.log-in:hover {
    background-color: #ff8533;
}


.log-out{
     text-decoration: none; 
    width: 140px;
    line-height: 30px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    align-self: left; 
    background-color: #EF6C33;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.log-out:hover {
     background-color: #ff8533;
}
.question-button-background{
    width: 80%;  
    max-width: 1280px;
    margin: 0 auto;
    background: #E1DDDB; 
}

.question-button-container{
    margin-top: 69px;
    height: 120px;
    background: #abdff1;
    position: relative; 
    border-top: none; 
}

.question-button-container-two{
    margin-top: 69px;
    height: 600px;
    background: #abdff1;
    position: relative; 
    border-top: none; 
}

.button-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0 auto;
    align-items: center; 
    padding: 15px
}

.button-container-two{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0 auto;
    align-items: center; 
}

.left-button{
    display: flex;
    width: 50%; 
    justify-content: center; 
}

.left-button-two{
    display: flex;
    width: 50%; 
    justify-content: center; 
}

.right-button{
    display: flex;
    width: 50%;
    justify-content: center; 
}

.right-button-two{
    display: flex;
    width: 50%;
    justify-content: center; 
}

.wyr-button{
    width: max-content;
    padding: 20px;
    margin: 10px;
    background: #3bb4c1;
    border: 1px solid #048998; 
    border-radius: 5px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.wyr-button-two{
    width: max-content;
    padding: 80px 47px;
    background: #3bb4c1;
    border: 1px solid #048998; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    /* font-family: times;  */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 55px; 
    /* "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; */
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.wyr-button:hover{
    background: #048998;
}

.wyr-button-two:hover{
    background: #048998;
}

.rfdb-button{
    width: max-content;
    padding: 5px 13px;
    margin: 10px;
    background: #3bb4c1;
    border: 1px solid #048998;
    border-radius: 5px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rfdb-button-two{
    width: max-content;
    padding: 25px 22px;
    background: #3bb4c1;
    border: 1px solid #048998;
    border-radius: 5px;
    color: white;
    font-size: 55px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rfdb-button:hover{
    background: #048998;
}

.rfdb-button-two:hover{
    background: #048998;
}

.greeting-logged-in{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    align-self: center;
}