a {
    text-decoration: none;
    color: black;
}
    
a:-webkit-any-link {
    /* text-decoration: none; */
    color: none;
}

.showbackground {
    display: flex;
    justify-content: center;
}
.container-header-parent {
    width: 100%;
    font-size: 50px;
}
.question-container {
    background-color: #80d4f5;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    padding: 20px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative; 
    margin-top: 40px; 
}

.wyr-head {
    color: #064A60;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;

}

.container-header {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
}
.upvoteDownvote {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.upvote-button {
    font-size: 30px;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.upvote-button:hover {
    color: #f2c40f
}

.likeEmote {
    font-size: 40px;
}

.downvote-button {
    font-size: 30px;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.downvote-button:hover {
    color: #f2c40f
}
.dislikeEmote {
    font-size: 40px;
}

.answers {
    justify-content: center;
    padding: 50px;
}

.answer-button {
    padding: 30px;
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 4px;
    font-weight: bold;
    background-color: white;
    color: black  ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer-button:hover {
    background-color: #f2c40f;
}

.allQuestions {
    display: flex;
    margin: 0 auto 20px auto; 
    justify-content: center;
    align-self: center;
    font-size: 50px;
    background: black;
    color: white;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.questionLink {
      width: 80%;
    object-fit: fill;
    align-self: center;
}
.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question-container-index {
    width: 80%;
    margin: 30px auto 0; 
    padding: 20px 0px 20px 0px;
    background-color: #80d4f5;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-container-index:hover{
    background-color: black; 
}

.question-container-index:hover *{
    color: white 
}

.question-index {
    align-self: center;
    display: flex;
    font-size: 20px;
}

.upvoteDownvoteOnIndex {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-right: 40px; 
}

.upvoteIndex {
    font-size: 30px;
    padding: 10px;
    color: black;
    font-weight: bold;
    display: flex;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.upvoteIndex:hover{
    color: #f2c40f;
    /* background-color: #f2c40f; */
}

.upvoteIndex:hover *{
    color: #f2c40f;
}


.likeEmoteIndex {
    font-size: 40px;
    padding: 0px 10px;
}

.downvoteIndex {
    font-size: 30px;
    padding: 10px;
    color: black;
    font-weight: bold;
    display: flex;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.downvoteIndex:hover {
    color: #f2c40f;
}

.downvoteIndex:hover *{
    color: #f2c40f;
}

.dislikeEmoteIndex {
    font-size: 40px;
    padding: 0px 10px;
}

.questionComponent {
    padding: 5px 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
}

.reporting-chart {
  height: 100px;
  width:100px;
}