.question-answer-container{
    width: 80%;
    margin: 60px auto auto auto;
    text-align: center;
}

.wyr-header p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.rfdb-header p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.chartjs-render-monitor{
    object-fit: contain; 
}

.graph-buisness{
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 30px;
}

.total-population-graph *{
    position: relative;  
}
.total-population-graph{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    width: 50%; 
    min-height: 100%; 
    border: 1px solid black;
    padding-bottom: 30px;
}

#total-population-text{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: bold; 
}

.question-answer-right{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column; 
}

.age-graph{
    height: 50%;
    padding: 0 10px 10px 30px;
    border: 1px solid black;
}

.gender-graph{
    height: 50%;
    padding: 0 10px 10px 30px;
    border: 1px solid black;
}

.legend ul li span{ width:50px; height:15px;display:inline-block; margin-right:5px; }